
  
  .pyro > .before, .pyro > .after {
    margin: 0;
    padding: 0;
    z-index: 10;
    overflow: hidden;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }
  
  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }
  
  @-webkit-keyframes bang {
    to {
      box-shadow: -208px -6.6666666667px #ff0040, -86px -301.6666666667px #8cff00, -101px 27.3333333333px #ff00bb, 247px -363.6666666667px #003cff, 26px -380.6666666667px #0026ff, -122px -190.6666666667px #ff0d00, -48px 74.3333333333px #0040ff, -227px -319.6666666667px #aa00ff, -228px -122.6666666667px #00ffa2, -6px -179.6666666667px yellow, -128px -115.6666666667px #ee00ff, 69px -80.6666666667px #000dff, -59px -340.6666666667px #ff0400, -12px -32.6666666667px #0051ff, -222px -47.6666666667px #ff9500, -38px -175.6666666667px #001aff, -67px 25.3333333333px #1eff00, -225px 2.3333333333px #ff0055, 113px -312.6666666667px #ff001e, 120px 81.3333333333px #44ff00, -16px 21.3333333333px #ff3300, -82px -284.6666666667px #00eaff, 68px -23.6666666667px #00e6ff, 10px -380.6666666667px #ff00b3, 196px -36.6666666667px #c400ff, 233px -215.6666666667px red, -113px -184.6666666667px #ff8000, 131px 57.3333333333px #00ff44, -205px -253.6666666667px #a2ff00, -245px -394.6666666667px #ff002f, 100px -245.6666666667px #0066ff, 114px 26.3333333333px #ff8000, 20px -283.6666666667px #51ff00, 227px -19.6666666667px #d500ff, -72px 15.3333333333px #b3ff00, -100px -152.6666666667px #aaff00, -229px -350.6666666667px #2bff00, 142px 40.3333333333px #ff4400, -60px -257.6666666667px #1500ff, 122px -339.6666666667px #c4ff00, -207px -83.6666666667px #ffea00, -101px -189.6666666667px #ae00ff, 138px -80.6666666667px #007bff, 138px 72.3333333333px #a600ff, 197px -6.6666666667px #44ff00, 23px 36.3333333333px #7700ff, -87px -223.6666666667px #fff200, -193px -7.6666666667px deepskyblue, 98px -82.6666666667px #4dff00, -231px -124.6666666667px #9dff00, -218px -163.6666666667px #ff002f;
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: -208px -6.6666666667px #ff0040, -86px -301.6666666667px #8cff00, -101px 27.3333333333px #ff00bb, 247px -363.6666666667px #003cff, 26px -380.6666666667px #0026ff, -122px -190.6666666667px #ff0d00, -48px 74.3333333333px #0040ff, -227px -319.6666666667px #aa00ff, -228px -122.6666666667px #00ffa2, -6px -179.6666666667px yellow, -128px -115.6666666667px #ee00ff, 69px -80.6666666667px #000dff, -59px -340.6666666667px #ff0400, -12px -32.6666666667px #0051ff, -222px -47.6666666667px #ff9500, -38px -175.6666666667px #001aff, -67px 25.3333333333px #1eff00, -225px 2.3333333333px #ff0055, 113px -312.6666666667px #ff001e, 120px 81.3333333333px #44ff00, -16px 21.3333333333px #ff3300, -82px -284.6666666667px #00eaff, 68px -23.6666666667px #00e6ff, 10px -380.6666666667px #ff00b3, 196px -36.6666666667px #c400ff, 233px -215.6666666667px red, -113px -184.6666666667px #ff8000, 131px 57.3333333333px #00ff44, -205px -253.6666666667px #a2ff00, -245px -394.6666666667px #ff002f, 100px -245.6666666667px #0066ff, 114px 26.3333333333px #ff8000, 20px -283.6666666667px #51ff00, 227px -19.6666666667px #d500ff, -72px 15.3333333333px #b3ff00, -100px -152.6666666667px #aaff00, -229px -350.6666666667px #2bff00, 142px 40.3333333333px #ff4400, -60px -257.6666666667px #1500ff, 122px -339.6666666667px #c4ff00, -207px -83.6666666667px #ffea00, -101px -189.6666666667px #ae00ff, 138px -80.6666666667px #007bff, 138px 72.3333333333px #a600ff, 197px -6.6666666667px #44ff00, 23px 36.3333333333px #7700ff, -87px -223.6666666667px #fff200, -193px -7.6666666667px deepskyblue, 98px -82.6666666667px #4dff00, -231px -124.6666666667px #9dff00, -218px -163.6666666667px #ff002f;
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: -208px -6.6666666667px #ff0040, -86px -301.6666666667px #8cff00, -101px 27.3333333333px #ff00bb, 247px -363.6666666667px #003cff, 26px -380.6666666667px #0026ff, -122px -190.6666666667px #ff0d00, -48px 74.3333333333px #0040ff, -227px -319.6666666667px #aa00ff, -228px -122.6666666667px #00ffa2, -6px -179.6666666667px yellow, -128px -115.6666666667px #ee00ff, 69px -80.6666666667px #000dff, -59px -340.6666666667px #ff0400, -12px -32.6666666667px #0051ff, -222px -47.6666666667px #ff9500, -38px -175.6666666667px #001aff, -67px 25.3333333333px #1eff00, -225px 2.3333333333px #ff0055, 113px -312.6666666667px #ff001e, 120px 81.3333333333px #44ff00, -16px 21.3333333333px #ff3300, -82px -284.6666666667px #00eaff, 68px -23.6666666667px #00e6ff, 10px -380.6666666667px #ff00b3, 196px -36.6666666667px #c400ff, 233px -215.6666666667px red, -113px -184.6666666667px #ff8000, 131px 57.3333333333px #00ff44, -205px -253.6666666667px #a2ff00, -245px -394.6666666667px #ff002f, 100px -245.6666666667px #0066ff, 114px 26.3333333333px #ff8000, 20px -283.6666666667px #51ff00, 227px -19.6666666667px #d500ff, -72px 15.3333333333px #b3ff00, -100px -152.6666666667px #aaff00, -229px -350.6666666667px #2bff00, 142px 40.3333333333px #ff4400, -60px -257.6666666667px #1500ff, 122px -339.6666666667px #c4ff00, -207px -83.6666666667px #ffea00, -101px -189.6666666667px #ae00ff, 138px -80.6666666667px #007bff, 138px 72.3333333333px #a600ff, 197px -6.6666666667px #44ff00, 23px 36.3333333333px #7700ff, -87px -223.6666666667px #fff200, -193px -7.6666666667px deepskyblue, 98px -82.6666666667px #4dff00, -231px -124.6666666667px #9dff00, -218px -163.6666666667px #ff002f;
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: -208px -6.6666666667px #ff0040, -86px -301.6666666667px #8cff00, -101px 27.3333333333px #ff00bb, 247px -363.6666666667px #003cff, 26px -380.6666666667px #0026ff, -122px -190.6666666667px #ff0d00, -48px 74.3333333333px #0040ff, -227px -319.6666666667px #aa00ff, -228px -122.6666666667px #00ffa2, -6px -179.6666666667px yellow, -128px -115.6666666667px #ee00ff, 69px -80.6666666667px #000dff, -59px -340.6666666667px #ff0400, -12px -32.6666666667px #0051ff, -222px -47.6666666667px #ff9500, -38px -175.6666666667px #001aff, -67px 25.3333333333px #1eff00, -225px 2.3333333333px #ff0055, 113px -312.6666666667px #ff001e, 120px 81.3333333333px #44ff00, -16px 21.3333333333px #ff3300, -82px -284.6666666667px #00eaff, 68px -23.6666666667px #00e6ff, 10px -380.6666666667px #ff00b3, 196px -36.6666666667px #c400ff, 233px -215.6666666667px red, -113px -184.6666666667px #ff8000, 131px 57.3333333333px #00ff44, -205px -253.6666666667px #a2ff00, -245px -394.6666666667px #ff002f, 100px -245.6666666667px #0066ff, 114px 26.3333333333px #ff8000, 20px -283.6666666667px #51ff00, 227px -19.6666666667px #d500ff, -72px 15.3333333333px #b3ff00, -100px -152.6666666667px #aaff00, -229px -350.6666666667px #2bff00, 142px 40.3333333333px #ff4400, -60px -257.6666666667px #1500ff, 122px -339.6666666667px #c4ff00, -207px -83.6666666667px #ffea00, -101px -189.6666666667px #ae00ff, 138px -80.6666666667px #007bff, 138px 72.3333333333px #a600ff, 197px -6.6666666667px #44ff00, 23px 36.3333333333px #7700ff, -87px -223.6666666667px #fff200, -193px -7.6666666667px deepskyblue, 98px -82.6666666667px #4dff00, -231px -124.6666666667px #9dff00, -218px -163.6666666667px #ff002f;
    }
  }
  @keyframes bang {
    to {
      box-shadow: -208px -6.6666666667px #ff0040, -86px -301.6666666667px #8cff00, -101px 27.3333333333px #ff00bb, 247px -363.6666666667px #003cff, 26px -380.6666666667px #0026ff, -122px -190.6666666667px #ff0d00, -48px 74.3333333333px #0040ff, -227px -319.6666666667px #aa00ff, -228px -122.6666666667px #00ffa2, -6px -179.6666666667px yellow, -128px -115.6666666667px #ee00ff, 69px -80.6666666667px #000dff, -59px -340.6666666667px #ff0400, -12px -32.6666666667px #0051ff, -222px -47.6666666667px #ff9500, -38px -175.6666666667px #001aff, -67px 25.3333333333px #1eff00, -225px 2.3333333333px #ff0055, 113px -312.6666666667px #ff001e, 120px 81.3333333333px #44ff00, -16px 21.3333333333px #ff3300, -82px -284.6666666667px #00eaff, 68px -23.6666666667px #00e6ff, 10px -380.6666666667px #ff00b3, 196px -36.6666666667px #c400ff, 233px -215.6666666667px red, -113px -184.6666666667px #ff8000, 131px 57.3333333333px #00ff44, -205px -253.6666666667px #a2ff00, -245px -394.6666666667px #ff002f, 100px -245.6666666667px #0066ff, 114px 26.3333333333px #ff8000, 20px -283.6666666667px #51ff00, 227px -19.6666666667px #d500ff, -72px 15.3333333333px #b3ff00, -100px -152.6666666667px #aaff00, -229px -350.6666666667px #2bff00, 142px 40.3333333333px #ff4400, -60px -257.6666666667px #1500ff, 122px -339.6666666667px #c4ff00, -207px -83.6666666667px #ffea00, -101px -189.6666666667px #ae00ff, 138px -80.6666666667px #007bff, 138px 72.3333333333px #a600ff, 197px -6.6666666667px #44ff00, 23px 36.3333333333px #7700ff, -87px -223.6666666667px #fff200, -193px -7.6666666667px deepskyblue, 98px -82.6666666667px #4dff00, -231px -124.6666666667px #9dff00, -218px -163.6666666667px #ff002f;
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }