/***************happy new year******************

@import url(https://fonts.googleapis.com/css?family=Niconne);
h1 {
  font-family:'Niconne', cursive;
  font-size: 50px;
  color: #e12527;
  text-align: center;
}
h1:before, h1:after {
  content: "\2746";
  display: inline-block;
  font-size: 60px;
  color: #38afaa;
  -webkit-animation: my 4s infinite alternate;
  animation: my 4s infinite alternate;
}
h1:before {
  margin-right: 0.5em;
}
h1:after {
  margin-left: 0.5em;
}
@-webkit-keyframes my {
    0%   {color: #2e2f92;}
    25%  {color: #38afaa;}
    50%  {color: #5b59a7;}
    75%  {color: #f7b21c;}
    100% {color: #e12527;}
 }
@keyframes my {
    0%   {color: #2e2f92;}
    25%  {color: #38afaa;}
    50%  {color: #5b59a7;}
    75%  {color: #f7b21c;}
    100% {color: #e12527;}
 }

*/
 




/***********************happy new year*****************************/

@import url(https://fonts.googleapis.com/css?family=Roboto);

@import url(https://fonts.googleapis.com/css?family=Festive);



.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 10vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  background-color: black;
}

h1 {
  margin-top: -20px;
  font-size: 9rem;
  font-family: "Roboto";
  font-weight: 900;
  background-image: url(https://c.tenor.com/7k2yASJxRuEAAAAM/stars-twinkling.gif);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

h2 {
  font-family: "Festive";
  font-size: 5rem;
  position: relative;
  bottom: 310px;
  background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 11rem;
  }
  
  h2 {
    font-size: 2rem;
    position: relative;
    bottom: 160px;
  }
}








